body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #f00;
}

h2 {
    text-align: center;
}

.translator-grid {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-columns: auto auto;
    grid-template-rows: 300px;
    gap: 10px;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: aliceblue; */
}

.video-container {
    background-color: rgb(255, 255, 255, 0.5);
    border: 10px solid #91982b;
}

.translation-container {
    background-color: rgb(255, 255, 255, 0.5);
    border: 10px solid #9fa433;
    text-align: center ;
    color: #f00;
}
